@import '../base/variables';

.comic-detail {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  img {
    max-height: 480px;
    height: auto;
    width: min(100%, 400px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }

  .comic-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100%, 400px);


    h3 {
      color: $color-emphasize;
      font-family: $font-title;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
