
footer{
  align-self: flex-end;
  flex-wrap: wrap;
  justify-self: end;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  align-items: center;

  a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  small{
    padding: 0.5rem;
    text-align: center;
  }

  @media (min-width: 768px){
  justify-content: space-between;
  }
}