@import 'variables';

@font-face {
  font-family: 'Poppins';
  src: url("#{$fonts-path}Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("#{$fonts-path}Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avengero';
  src: url("#{$fonts-path}Avengero-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}