// COLORS
$color-background: #000000;
$color-text: #ffffff;
$color-primary: #3D3959;
$color-secondary: #706C8C;
$color-emphasize: #F2AC57;
$color-complementary: #F2B6B6;
$color-marvel: #ED1B24;

// TYPOGRAPHY
$font-primary: 'Poppins', sans-serif;
$font-title: 'Avengero', sans-serif;
$font-size: 16px;
$fonts-path: '/fonts/';

$size-banner: 180px;